@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body {
  background: url('/assets/binding_dark.png');
  font-family: 'Helvetica Neue', georgia;
  font-weight: 200;
  letter-spacing: 2px;
}

.navbar {
  background: #4d2600;
  border-radius: 0;
  box-shadow: 1px 1px 1px #000000;
  margin-bottom: 0;
}

.navbar .navbar-brand {
  color: red;
  font-family: 'Oswald', georgia;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.5em;
  letter-spacing: 0;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    max-height: 550px;
    width: 100%;
}

.carousel-caption {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 100;
    text-shadow: #000000 2px 2px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    position: absolute;
    left: 0;
}

.place {
  -moz-box-shadow: 1px 1px 2px 0 #000000;
  -webkit-box-shadow: 1px 1px 2px 0 #000000;
  background: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.place h1 {
  letter-spacing: 4px;
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin: 0;
  padding: 0;
  text-align: left;
}

a {
  color: #000000;
}

a:hover {
  color: red;
  text-decoration: none;
}

#map {
  height: 300px;
}

.alert-brown {
  background: #804000;
  color: #ffffff;
}

.alert-danger {
  background: #990000;
  color: #ffffff;
  border: #990000;
}

.field_with_errors {
  background: #990000;
  color: #ffffff;
  padding: 8px;
  border-radius: 3px;
}

.btn-brown {
  color: #ffffff;
  background: #4d2600;
  letter-spacing: 2px;
}

.btn-default {
  letter-spacing: 2px;
}

.btn-brown:hover {
  color: #ffffff;
  background: #804000;
}

input[type="text"], select, textarea {
  letter-spacing: 1px;
}

.brown-links a {
  color: #4d2600;
}

.brown-links a:hover {
  color: #804000;
  text-decoration: none;
}

.clear {
  clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.flex-container div {
  padding: 10px;
}
img {
  max-width: 100%;
}
input#photo_picture {
  letter-spacing: 1px;
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 2.5em;
  }
}