@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Oswald:300);

body {
  background: url('/assets/binding_dark.png');
  font-family: 'Helvetica Neue', georgia;
  font-weight: 200;
  letter-spacing: 2px;
}

.navbar {
  background: #4d2600;
  border-radius: 0;
  box-shadow: 1px 1px 1px #000000;
}

.navbar .navbar-brand {
  color: red;
  font-family: 'Oswald', georgia;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3.5em;
  letter-spacing: 0;
}

.place {
  -moz-box-shadow: 1px 1px 2px 0 #000000;
  -webkit-box-shadow: 1px 1px 2px 0 #000000;
  background: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.place h1 {
  letter-spacing: 4px;
  font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  margin: 0;
  padding: 0;
}

a {
  color: #000000;
}

a:hover {
  color: red;
  text-decoration: none;
}

#map {
  height: 300px;
}

.alert-brown {
  background: #804000;
  color: #ffffff;
}

.alert-danger {
  background: #990000;
  color: #ffffff;
  border: #990000;
}

.field_with_errors {
  background: #990000;
  color: #ffffff;
  padding: 8px;
  border-radius: 3px;
}

.btn-brown {
  color: #ffffff;
  background: #4d2600;
  letter-spacing: 2px;
}

.btn-brown:hover {
  color: #ffffff;
  background: #804000;
}

input[type="text"], select, textarea {
  letter-spacing: 1px;
}

select {
  width: 50%;
}

.brown-links a {
  color: #4d2600;
}

.brown-links a:hover {
  color: #804000;
  text-decoration: none;
}

.clear {
  clear: both;
}

@media (max-width: 767px) {
  .navbar .navbar-brand {
    font-size: 2.5em;
  }
}