@import "bootstrap-sprockets";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
  background: url('/assets/vertical_cloth.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  letter-spacing: 1px;
}

.navbar.navbar-inverse {
  background:url('/assets/black_denim.png');
  border-radius: 0;
  box-shadow: 2px 2px 2px #000000;
}

.navbar-inverse .navbar-brand {
  color: #cc6600;
  font-family: 'Shadows Into Light', georgia;
  font-size: 3.5em;
  letter-spacing: 0;
  text-shadow: 2px 2px #000000;
}

.place {
  -moz-box-shadow: 1px 1px 2px 0 #000000;
  -webkit-box-shadow: 1px 1px 2px 0 #000000;
  background: #ffffff;
  border: 1px solid #ffffff;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.place h1 {
  letter-spacing: 4px;
  font-size: 2em;
}

.admin {
  background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.alert-coffee {
  background: #ff9933;
  color: #663300;
}

.btn-coffee {
  color: #ffffff;
  background: #cc6600;
}

.btn-coffee:hover {
  color: #ffffff;
  background: #ff9933;
}

.coffee-links a {
  color: #cc6600;
}

.coffee-links a:hover {
  color: #ff9933;
  text-decoration: none;
}

@media (max-width: 767px) {
.navbar-inverse .navbar-brand {
  font-size: 2.5em;
}
}